<!doctype html>
<html>
    <head>
		<link rel="stylesheet" type="text/css" href="style.css">
        <title>Emotion Classification</title>
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
        <div class="container">
            <h1>Emotion Classification</h1>
            <form action="{{ url_for('predict')}}"method="post">
                <input type="text" name="user_input" placeholder="Enter your text here">
                <input type="submit" value="Submit">
            </form>
            <div class="predictions">
                {% for prediction in predictions %}
                <p>{{ prediction }}</p>
                {% endfor %}
            </div>
        </div>
    </body>
</html>