/* Add some styling to the page */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #f2f2f2;
  font-family: Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  padding: 30px;
  /* text-align: center; */
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 10px #ccc;
}
h1 {
  font-size: 32px;
  margin-bottom: 20px;
  color: #505050;
}
input[type="text"] {
  font-size: 16px;
  padding: 12px 20px;
  margin-bottom: 20px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #ccc;
}
input[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
input[type="submit"]:hover {
  background-color: #45a049;
}
.predictions {
  margin-top: 20px;
  padding: 20px;
  /* background-color: #f2f2f2; */

  box-shadow: inset 0px 0px 10px #ccc;
  border-radius: 5px;
  /* text-align: center; */
}
input,
button {
  outline: none;
}
.predictions h3 {
  margin: 10px 0;
  color: #505050;
}
.predictions .item {
  padding: 5px 10px;
  margin: 10px 0;
  box-shadow: 0px 0px 10px #ccc;
}

.predictions .item div {
  display: flex;
  align-items: center;
  margin: 5px 0;
}
.predictions .item div h4 {
  color: #505050;
  min-width: 120px;
}
.predictions .item div p {
  color: #232323;
}
h4 {
  margin-left: 10px;
  margin-right: 10px;
}